*{
    margin : 0px;
    padding:0px;
}

.Container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rect{
    height: 300px;
    width: 500px;
    border:2px solid black;
}